<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titre</th>
        <th scope="col">Début</th>
        <th scope="col">Fin prévue</th>
        <th scope="col">Business Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Titre1</td>
        <td>Début1</td>
        <td>Fin1</td>
        <td>BV1</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Titre2</td>
        <td>Début2</td>
        <td>Fin2</td>
        <td>BV2</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Titre3</td>
        <td>Début3</td>
        <td>Fin3</td>
        <td>BV3</td>
      </tr>
    </tbody>
  </table>;